.king{
    display: flex;
    justify-content: center;
    gap:2rem;
}
.king__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    border-radius: 30px;
    padding: 1rem;
}
.king__img{

}
.king__name{
    font-size: 1.5rem;
}